.container-fluid{
    padding:0px;
}
/* home */

/* Header */
.bg-primary {
    background-color:#fff !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color: #143e63;
    font-family: 'Quicksand', sans-serif;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url(../img/men.png);
}
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color:#24aadf;
    border-top: 4px solid #24aadf;
    padding: 9px 9px 0px 0px;
}
.bg-light {
    background-color:#fff!important;
}
/* .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
} */

/* header */
.section-box {
    /* margin-top: 40px; */
    height: 700px;
    background-image: url(../img/new.jpg);
    background-repeat: no-repeat no-repeat;
    background-position:center;
    background-size:cover;
  }
.box {
    margin: 5%;
    margin-top:45%;
    padding: 3%;
    
}

.create-box.first-image{
    background-image: url(../img/start.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-repeat: no-repeat no-repeat;
    background-position:center;
    background-size:cover;
}
.create-box.second-image{
    background-image: url(../img/image-new.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
    background-repeat: no-repeat no-repeat;
    background-position:center;
    background-size:cover;
}
.create-box {
    width: 100%;
    height: 500px;
    margin-top:30px;
}



.col-lg-12.delete{
    padding:0;
    margin:0px;
}
.align-text{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.26);
    color:#fff;
    width: calc(100% - 30px); 
}
.align-text p{
    font-family: 'Quicksand', sans-serif;
    margin-left: 22px;
}
.align-text h1 {
    color:#ffffffcc;
    font-size: 29px;
    margin-left: 22px;
}
#container-align{
    width:100%;
}
.counting-box{
    background-color:#f5f6f8;
    padding: 90px 0px;
    margin-top: 30px;
}
.grid-box{
    min-width:230px;
    height:260px;
    background-color:#fff;
    border: 1px solid #e5e5e5;
    margin-top:20px;
    padding:15px;
    border-bottom: 2px solid #62c0e2;
    -webkit-box-shadow: 0px 2px 14px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 14px -4px rgba(0,0,0,0.75);
box-shadow: 0px 2px 14px -4px rgba(128, 128, 128, 0.65);
}
.default-circle{
	height:80px;
	width:80px;
	border-radius:50%;
    background-color:#7cdeffcc;
    margin-left:60px;
}
.button {
    width: 100%;
    text-align: center;
}
.clients-logo {
    width: 100%;
    text-align: center;  
    margin-top: 65px;
    margin-bottom: 65px;
    /* display: inline-flex; */
}
.clients-logo img {
    display: inline-block;
    max-width: 154px;
}


  @media (max-width: 994px){
	.default-circle{
        max-width: 100%;
        margin:auto;
	}
}
.default-circle img{
    width:50px;
    height:50px;
    margin:15px;
}
.text b {
    font-size: 22px;
    color:#143e63;
}
.text p{
    line-height: 34px;
    color:#656d75;
    font-family: 'Quicksand', sans-serif;
}
.create-border {
    width: 14%;
    background-color: #6abddb;
    height: 6px;
    margin-bottom:23px;
}
.dark-one h1{
    color:#24aadf;
}
.dark-one b{
    text-transform: uppercase;
    color:#143e63;
    font-size: 20px;
}
.first-contant
    {
    text-align:center;
    padding-top:80px;
    } 
    .first-contant h1{
        color:#143e63;
    }  
.first-contant p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-top: 27px;
    color:#666b71;
} 
.grid-box h3{
    color:red;
    font-size: 17px;
    margin-top: 10px;
    color: #143e63;
    text-align:center;
}
.grid-box p{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align:center;
}
.button {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.first-contant.align-part{
    padding:0px;
    margin-bottom:40px; 
}
/* .col-lg-6.col-md-12.col-sm-12.grid {
    padding-left: 0px;
    padding-right: 30px;
} */
.grid-box-new{
    background-color:#fff;
    height:250px;
    margin-top:20px;
}
.grid-box-new p{
    color:#fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.86); 
    font-size:20px;
    text-align:center;
}
.grid-box-new.one{
    background-color: rgb(38, 169, 223);
}
.grid-box-new.two{
    background-image: url(../img/grid-image.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-repeat: no-repeat no-repeat;
    background-position:center;
    background-size:cover; 
}
.gray-shade{
    background: rgba(0, 0, 0, 0.26);
    height:100%;
    margin-top: -146px;
}
.grid-box-new.three{
    background-image: url(../img/grid-image-two.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-repeat: no-repeat no-repeat;
    background-position:center;
    background-size:cover; 
}
.grid-box-new.four{
    background-color: rgb(38, 169, 223);
}
/* .col-lg-6.col-md-12.col-sm-12.large-box{
    margin-top: 20px;
    text-align:center;
    background-color:#fff;
} */
.text-format{
    font-family: 'Quicksand', sans-serif;
}
.text-format p {
    margin-top: 21px;
    line-height: 31px;
    padding: 4px 23px 0px 16px;
}
.image-fix img {
    padding-top: -9px;
    margin-top: 0px;
    padding-top: -16px;
    margin-top: -45px;
}
.arrow
{
	width:50px;
	height:50px;
	padding:5px;
	background-color:#ffffff;
	border-radius: 50%;
	    margin-right: 15px;
    margin-left: 9px;
}
.arrow-comman > .arrow{
						display:inline-block;
						    border: 2px solid #ece7e7;

}
.arrow img{
		        display: block; 
     margin-left: auto; 
    margin-right: auto; 
    padding: 6px 3px 0px 2px;
}
.arrow-comman {
    text-align: center;
}
.row.service-list{
    -webkit-box-shadow: -2px 0px 21px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 21px -3px rgba(0,0,0,0.75);
    padding: 30px 0px 30px 0px;
    line-height: 30px;
}
.list ul li {
    list-style: none;
    color: #5c5c5c;
}
.list.new{
    margin-top:24px;
}
.list img {
    padding-left: 42px;
}
.list p{
    padding-left: 42px;
    margin:0;
}
.footer-text p{
    margin:0;
}
.footer-text{
    text-align:center;
    padding:30px;
}

#align-text{
        padding: 100px 0px 0px 0px;
}
@media (max-width: 994px){
	.text{
        max-width: 100%;
        margin:auto;
	}
}
.new-create{
        background-color: #fff;
        margin-top: 20px;
        text-align: center;
        height: 520px;
}
.navbar-dark .navbar-nav .nav-link {
   color: #828181;
    font-family: 'Quicksand', sans-serif;
    padding: 13px 15px 8px 5px;
    font-size: 20px;
    font-weight: 600;
}


/* clients */
.first-contant.clients{
    padding: 22px 0px 51px 0px;
}
.first-contant.clients.header{
    padding: 60px;
}
.clients-grid{
    background-color:#f5f6f8;
}
/* @media (max-width: 994px){
	.grid-box img{
            background-color:red;
	}
} */
.image-set-up img {
    display: block;
    margin: 0 auto;
}
.image-set-up{
    padding: 0px 0px 0px 7px;
width: 100%;
height: 41%;
}
.button.clients {
    padding-bottom: 50px;
}
.new-create.client {
    background: none !important;
    height: auto;
}
.col-md-6.offset-md-3 {
    background-color:#f5f6f8;
    margin-bottom: 80px;
}

/* services */
#services{
    background-color: #f5f6f8;
}
.header-part {
    min-height: 70px;
    background: -webkit-linear-gradient(top,#4298b5,#2e697d);
    background: linear-gradient(180deg,#4298b5,#2e697d);
}
.banner-services {
    /* margin-top: 40px; */
    height: 250px;
    background-image: url(../img/it-services-banner.jpg);
    background-repeat: no-repeat no-repeat;
    background-position:center;
    background-size:cover;
    max-width:100%;
  }

  .header-part h5 {
    padding-top: 20px;
    /* margin-left:20px; */
}
.header-part span{
    color: #ecfbff;
    margin-left:2px;
}
.header-services {
    text-align:center;
    padding-top:60px;
    padding-bottom: 60px;
}
.header-services h1{
    color: #143e63;
}
.header-services p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    padding-top: 20px;
    color: #666b71;
}
.service-box {
    min-width: 188px;
   border:2px solid gray;
    height: 145px;
    margin-bottom: 20px;
    display: block;
    margin: 0 auto;
}
/* about-us */
.header-about-us{
    padding: 50px 0px 16px 0px;
    text-align:center;
}
.header-about-us h1{
    color: #143e63;
}
.header-about-us p {
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    color: #666b71;
}
.content-part h2{
  
    color: #0f4270;
    font-size: 31px;
}
.content-part{
    text-align: center;
    margin-top:50px;
}
.align-grid {
    font-family: 'Quicksand', sans-serif;
    padding-top: 17px;
    line-height: 36px;
    color:#656c72;
}
/* .image-bg{
    background-image:url('../img/banner-part.jpeg');
    min-height:100px;
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:scroll;
  } */
  /* /* .image-bg {
    background-image: url(../img/banner-part.jpeg);
    min-height: 1024px;
    position: relative;
    opacity: 0.70;
    /* background-position: center; */
    /* background-size: contain;
    background-repeat: no-repeat; */
    /* background-attachment: fixed; */ 
    .pimg1, .pimg2, .pimg3{
        position:relative;
        background-position:center;
        background-size:cover;
        background-repeat:no-repeat;
        background-attachment:fixed;
      }
      .pimg1{
        background-image:url('../img/i-phone.jpg');    
     min-height: 400px;
      }
      
      .pimg2{
        background-image:url('../img/nice.jpg');
        min-height:400px;
      }
      .section-light{
        background-color:#f4f4f4;
        color:#666;
      }
      .section{
        text-align:center;
        padding:50px 80px;
      }
      /* .ptext {
        position: absolute;
        min-height: 136px;
        border-left: 5px solid #fff;
        background: rgba(0, 0, 0, 0.11);
        padding: 20px 0px 3px 30px;
        margin: 131px 0px 0px 0px;
        color: #fff;
        font-size: 27px;
    } */
    .ptext{
        color:#fff;
        font-size:27px;
        margin:auto;
        border-left: 5px solid #fff;
        padding-left: 27px;
       
      }
      
      .text-align-down {
        padding-top: 163px;
        padding-bottom: 157px;
    }
    .row.service-list.about-us {
        margin-top: 74px;
    }
    /* services */
    .part-one {
        text-align: right;
        padding-top:100px;
    }
    @media (max-width: 994px){
        .part-one{
            text-align:center;
            margin:auto;
            padding-top:0;
        }
    }
    .part-two{
       width:100%;
       min-height:100%;
       background-color:red;
    }

    .part-one h1 {
        color: #143e63;
        padding-top: 16px;
    }
    .part-one p {
        line-height: 39px;
        font-family: 'Quicksand', sans-serif;
        color: #666b71;
    }
    .part-two img {
        min-height: 100%;
        min-width: 100%;
        margin:auto;
    }

    .part-two.image-fix {
        background-image: url(../img/new-atc.png);
        background-repeat: no-repeat;
        background-size: auto;
        background-repeat: no-repeat no-repeat;
        background-position: center;
        background-size: cover;
        border-radius: 25px;
    }
    
    .part-two{
        width: 100%;
        height: 380px;
        background-color: red;
    }
.new-view{
    background-color:#f5f6f8;
}
.header-services.second-part{
padding:0;
margin-top:60px;
}
