.container-fluid{
    padding:0px;
}
.create-box {
    width: 100%;
    height: 500px;
    background-color: red;
    margin-top:30px;
}
.create-box.first-image{
    background-image: url(../img/start.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    background-repeat: no-repeat no-repeat;
    background-position:center;
    background-size:cover;
}

.create-box.second-image{
    background-image: url(../img/image-new.jpeg);
    background-repeat: no-repeat;
    background-size: auto;
    background-repeat: no-repeat no-repeat;
    background-position:center;
    background-size:cover;
}
.col-lg-12.delete{
    padding:0;
    margin:0px;
}
.align-text{
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.26);
    color:#fff;
    width: calc(100% - 30px); 
}
.align-text p{
    font-family: 'Quicksand', sans-serif;
    margin-left: 22px;
}
.align-text h1 {
    color:#ffffffcc;
    font-size: 29px;
    margin-left: 22px;
}
#container-align{
    width:100%;
}
.counting-box{
    background-color:#f5f6f8;
    padding: 90px 0px;
    margin-top: 30px;
}
.grid-box{
    min-width:230px;
    height:260px;
    background-color:#fff;
    border: 1px solid #e5e5e5;
    margin-top:20px;
    padding:15px;
    border-bottom: 2px solid #62c0e2;
    -webkit-box-shadow: 0px 2px 14px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 2px 14px -4px rgba(0,0,0,0.75);
box-shadow: 0px 2px 14px -4px rgba(128, 128, 128, 0.65);
}
.default-circle{
	height:80px;
	width:80px;
	border-radius:50%;
    background-color:#7cdeffcc;
    margin-left:60px;
}
.button {
    width: 100%;
    text-align: center;
}
.clients-logo {
    width: 100%;
    text-align: center;  
    margin-top: 65px;
    margin-bottom: 65px;
    /* display: inline-flex; */
}
.clients-logo img {
    display: inline-block;
    max-width: 154px;
}

.section-box {
    /* margin-top: 40px; */
    height: 500px;
    background-image: url(../img/new.jpg);
    background-repeat: no-repeat no-repeat;
    background-position:center;
    background-size:cover;
  }
  .box {
    margin: 5%;
    margin-top:26%;
    padding: 3%;
    
  }
  @media (max-width: 994px){
	.default-circle{
        max-width: 100%;
        margin:auto;
	}
}
.default-circle img{
    width:50px;
    height:50px;
    margin:15px;
}
.text b {
    font-size: 22px;
    color:#143e63;
}
.text p{
    line-height: 34px;
    color:#656d75;
    font-family: 'Quicksand', sans-serif;
}
.create-border {
    width: 14%;
    background-color: #6abddb;
    height: 6px;
    margin-bottom:23px;
}
.dark-one h1{
    color:#24aadf;
}
.dark-one b{
    text-transform: uppercase;
    color:#143e63;
    font-size: 20px;
}
.first-contant
    {
    text-align:center;
    padding-top:80px;
    } 
    .first-contant h1{
        color:#143e63;
    }  
.first-contant p{
    font-family: 'Quicksand', sans-serif;
    font-size: 20px;
    margin-top: 27px;
    color:#666b71;
} 
.grid-box h3{
    color:red;
    font-size: 17px;
    margin-top: 10px;
    color: #143e63;
    text-align:center;
}
.grid-box p{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    text-align:center;
}
.button {
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.first-contant.align-part{
    padding:0px;
    margin-bottom:40px; 
}
/* .col-lg-6.col-md-12.col-sm-12.grid {
    padding-left: 0px;
    padding-right: 30px;
} */
.grid-box-new{
    background-color:#fff;
    height:250px;
    margin-top:20px;
}
.grid-box-new p{
    color:#fff;
    text-shadow: 0 2px 2px rgba(0, 0, 0, 0.86); 
    font-size:20px;
    text-align:center;
}
.grid-box-new.one{
    background-color: rgb(38, 169, 223);
}
.grid-box-new.two{
    background-image: url(../img/grid-image.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-repeat: no-repeat no-repeat;
    background-position:center;
    background-size:cover; 
}
.gray-shade{
    background: rgba(0, 0, 0, 0.26);
    height:100%;
    margin-top: -146px;
}
.grid-box-new.three{
    background-image: url(../img/grid-image-two.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-repeat: no-repeat no-repeat;
    background-position:center;
    background-size:cover; 
}
.grid-box-new.four{
    background-color: rgb(38, 169, 223);
}
/* .col-lg-6.col-md-12.col-sm-12.large-box{
    margin-top: 20px;
    text-align:center;
    background-color:#fff;
} */
.text-format{
    font-family: 'Quicksand', sans-serif;
}
.text-format p {
    margin-top: 21px;
    line-height: 31px;
    padding: 4px 23px 0px 16px;
}
.image-fix img {
    padding-top: -9px;
    margin-top: 0px;
    padding-top: -16px;
    margin-top: -45px;
}
.arrow
{
	width:50px;
	height:50px;
	padding:5px;
	background-color:#ffffff;
	border-radius: 50%;
	    margin-right: 15px;
    margin-left: 9px;
}
.arrow-comman > .arrow{
						display:inline-block;
						    border: 2px solid #ece7e7;

}
.arrow img{
		        display: block; 
     margin-left: auto; 
    margin-right: auto; 
    padding: 6px 3px 0px 2px;
}
.arrow-comman {
    text-align: center;
}
.row.service-list{
    -webkit-box-shadow: -2px 0px 21px -3px rgba(0,0,0,0.75);
    -moz-box-shadow: -2px 0px 21px -3px rgba(0,0,0,0.75);
    padding: 30px 0px 30px 0px;
    line-height: 30px;
}
.list ul li {
    list-style: none;
    color: #5c5c5c;
}
.list.new{
    margin-top:24px;
}
.list img {
    padding-left: 42px;
}
.list p{
    padding-left: 42px;
    margin:0;
}
.footer-text p{
    margin:0;
}
.footer-text{
    text-align:center;
    padding:30px;
}

#align-text{
        padding: 100px 0px 0px 0px;
}
@media (max-width: 994px){
	.text{
        max-width: 100%;
        margin:auto;
	}
}
.new-create{
        background-color: #fff;
        margin-top: 20px;
        text-align: center;
        height: 520px;
}
.navbar-dark .navbar-nav .nav-link {
    color:#000;
}
.bg-primary {
    background-color:#fff !important;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
    color:#000;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url(../img/favicon.ico);
}